<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Location Service Application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/css/main.css}" rel="stylesheet" />

</head>
<body>
<h1>Thông báo</h1>
<h1>Thêm thành công!</h1>

<a href="/" class="btn btn-primary">Home</a>
<a th:href="@{/logging}" class="btn btn-info">Xem logging</a>
<a th:href="@{/addrequest}" class="btn btn-success">+ Thêm bản tin request</a>

</body>

</html>